<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>月別支出グラフ</title>
</head>
<body>
    <a href = "/input">支出を登録する</a>
    <h1>月別支出の円グラフ</h1>

    <form method="POST">
        <label for="month">月を選択:</label>
        <select name="month" id="month">
            {% for m in months %}
            <option value="{{ m.value }}" {% if m.value == selected_month %}selected{% endif %}>
                {{ m.label}} ({{ m.start_date}} ~ {{m.end_date}})
            </option>
            {% endfor %}
        </select>
        <button type="submit">表示</button>
    </form>

    {% if chart_path %}
        <h2>{{selected_month_label}} の支出（クレカ払い含む）</h2>
        <img src="{{ url_for('static', filename=chart_path) }}" alt="円グラフ">
    {% endif %}

    {% if bar_chart_path %}
    <h2>月別支出の推移（実質的に支払う額）</h2>
    <img src="{{ url_for('static', filename=bar_chart_path) }}" alt="月別支出棒グラフ">
    {% endif %}

</body>
</html>
